@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Working Together To Improve The Health</h1>
    <p>Learn more about <a href="https://www.who.int/health-topics/cancer#tab=tab_1">Cancer Prevention and its Management</a>.</p>
</div>
