@{
    ViewData["Title"] = "All About Cancer";
}
<h1>@ViewData["Title"]</h1>
    
Introduction
<p> Cancer is a large group of diseases that can start in almost any organ or tissue of the body when abnormal cells grow uncontrollably, go beyond their usual boundaries to invade adjoining parts of the body and/or spread to other organs. The latter process is called metastasizing and is a major cause of death from cancer. A neoplasm and malignant tumour are other common names for cancer.</p>
<div>
<h3>Muhammad Abdul Rahman</h3>

    <br>
    <label>Enter Number 1</label><br>
    <input type="text" id="num1" /><br>
    <label>Enter Number 2</label><br>
    <input type="text" id="num2" /><br><br>

    <button onclick="add()">Submit</button><br>

    <label>Result</label><br>
    <input type="text" id="output" readonly /><br><br>


    <script>
        function add() {
            var num1 = parseFloat(document.getElementById("num1").value)
            var num2 = parseFloat(document.getElementById("num2").value)
            var num1 = parseFloat(document.getElementById("output").value = num1 + num2)

        }
    </script>
    </div>

